* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#left{
    margin-left: 20%;
    transform: translateY(5%);

}
#right{
    transform: translate(60%,-94%);
}
#center{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    position: absolute;
    top: 50vw;
    left: 8vw;
    font-weight: 800;
    text-align: center;
}

#bottom{
    position: relative;
    top: 25vw;
}
#btm1,#btm2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#back-video{
    width: 100vw;  height: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: -1;
}

    
/* Media query for tablets and larger screens */
@media (max-width: 2740px) {
    #left {
      margin-left: 10%;
    }
    #right{
        margin-right: 10%;
    }
  
    #center {
        position: relative;
      top: -20vw;
      left: 4vw;
    }
    #bottom{
        position: relative;
        top: -15vw;
    }
}
  
  /* Media query for smaller screens (mobile devices) */
@media (max-width: 999px) {
    #right{
     margin-left: 60%;
    }
  
    #center {
      position: relative;
      top: -55vw;
      left: 12vw;
      font-size: 18px;
      width: 44vw;      
    }
    #bottom{
        position: relative;
        top: -15vw;
    }

}
  